@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: 'Yeseva One';
}

@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family:  'Nunito Sans';
}


@font-face {
    src: url('../fonts/NunitoSans-Bold.ttf');
    font-family:  'Nunito Sans';
    font-weight: bold;
}


@font-face {
    src: url('../fonts/NunitoSans-Italic.ttf');
    font-family:  'Nunito Sans';
    font-style: italic;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.section  {
    width: 100%;
}

.hide-on-desktop {
    display: none;
}


.check_box_label {
    font-size: 14px;
    padding-left: 0.5em;
}

.check_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check_box {
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    background-color: #fff;
    margin-top: 0.25em;
    margin-left: -2em;
    box-shadow: 0 0 0 0.1em #E3B873;
}

.check_input:checked + .check_box {
    background-color: #E3B873;
}

.check_input:checked + .check_box:after {
    content: ' ';
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    background-image: url(../image/icon/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0; 
    border: 0;
    text-transform: uppercase;
    padding: 13px 33px;
    font-style: italic;
    color: #ffffff;
}

.second_button {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

p {
    font-family:'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #363636;
}


img  {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #181818;
}

h1 {
    font-size: 40px;
    line-height: 53px;
}

h2 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

.h4 {
    font-size: 18px;
    line-height: 25px;
}

.text_accent {
    color: #E3B873;
}

header, footer {
    background-color: #131313;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
}

.container {
    max-width: 1236px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

.logo {
    color: #E3B873;
  
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation-item {
    margin-right: 47px;
}

.header-navigation-link {
    text-decoration: none;
    color: #ffffff
}

.phone {
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.screen_1 {
    position: relative;
    background-image: url(../image/screen1.png);
    height: 700px;
    background-size: cover;
    background-position: center;
}

.screen_1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.screen_1 .container {
    position: relative;
    z-index: 2;

}

.screen_1_title {
    padding: 187px 0 0 42px;
    margin: 0;
    font-size: 40px;
    line-height: 53px;
    color: #fff;
}

.screen_1_description {
color: #fff;
font-size: 22px;
line-height: 36px;
padding-left: 42px;
}

.screen_1_buttons .button  {
    font-size: 11px;
    line-height: 15px;
}
.screen_1_buttons .button:first-child {
    margin-left:42px;
    padding: 16px 42px;
}

.screen_1_buttons .button:last-child {
    margin-left: 12px;
    padding: 16px 28px;
}

.screen_2 {
    background: #131313;
    padding-bottom: 400px;
}

.screen_2_container {
    display: flex;
    flex-direction: row;
}

.screen_2_details {
    flex: 1;
    padding-left: 42px;
}


.screen_2_details_description {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 32px;
}

.condition_items_description {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 21px;

}

.condition_items h3 {
    font-size: 18px;
    line-height: 25px;

}

.screen_2_details h2 {
    margin-top: 176px;
} 

.conditions {
    width: 78%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.conditions_mobile {
    display: none;
}

.condition_items {
    width: 50%;
    height: 106px;
}

.condition_items h3 {
    margin-bottom: 7px;
}

.screen_2_controls {
    display: flex;
    flex-direction: row;
    padding-top: 36px;
}

.screen_2_controls_button {
    background: none;
    border: none; 
}

.screen_2_controls_button:focus {
    outline: none;
}

.screen_2_controls ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.screen_2_controls li {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 0 12px;
    opacity: 0.5;
}

.screen_2_controls .active {
    opacity: 1;
}

.screen_2_slider {
    flex: 1.55;
}

.screen_2_slider ul {
    list-style: none;
    padding: 0;
    margin-top: 105px;
    margin-bottom: 46px;
}

.screen_2_slider li {
    height: 23px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.screen_2_slider li.active {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.screen_2_slider li:not(:first-child) {
    margin-left: 56px;
}

.screen_2_slider img {
    width: 88%;
}

.screen_3_container {
    text-align: center;
    margin-top: -345px;
}

.screen_3_container h3 {
    color: #FFFFFF;
}

.camera_icon {
    margin: 0 auto;
    width: 40px;
    margin-top: -9px;
    position: relative;
}

.camera_icon:before {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: -37px;
    top: 14px;
}

.camera_icon:after {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: 45px;
    top: 14px;
}

.video-player {
    max-width: 817px;
    margin: 0 auto;
    height: 435px;
    overflow: hidden;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-player img:first-child {
    filter: brightness(0.25);
}

.play-button {
    position: absolute;
    left: calc(50% - 75px);
}

.screen_3_description {
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    margin-top: 93px;
    position: relative;
}

.screen_3_description:before {
    content: ' ';
    width: 55px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: calc(50% - 29px);
    top: -31px;
}


.screen-3-form-row {
    display: flex;
    flex-direction: row;
    max-width: 775px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 81px;
}

.screen-3-form-row button  {
    width: 210px;
}

.input-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-text label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input-text input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 7px;
    background: none;
}

.input-text input:focus {
    outline: none;
}

.input-checkbox {
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    margin-top: 37px;
}

.screen_4_container h3 {
    text-align: center;
    margin-top: 70px;
}

.tools_icon {
    margin: 0 auto;
    width: 28px;
    margin-top: -9px;
    position: relative;
    display: flex;
    justify-content: center;
}

.tools_icon:before {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: -37px;
    top: 14px;
}

.tools_icon:after {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: 45px;
    top: 14px;
}

.repair_types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 310px;
}

.repair_types_item {
    flex: 1;
    max-width: 392px;
    height: 421px;
    margin-top: 33px;
    background-position: center;
    background-size: cover;
}

.redecorating {
    background-image: url(../image/redecorating.png);
}

.overhaul {
    background-image: url(../image/overhaul.png);
}

.designer_repair{
    background-image: url(../image/designer_repair.png);
}

.screen_4_container .list {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: calc(330px - 68px);
    margin: 0 auto;
    margin-top: 294px;
    padding: 0 34px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);

}

.screen_4_container .list h4 {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: -6px;
}

.repair_list {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding-left: 17px;
}

.repair_cost_button {
    display: flex;
    max-width: 230px;
    padding: 14px 18px;
    margin-left: -34px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    bottom: -20px;
    
}

.screen_5_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 648px;
}

.consultation_list {
    padding-top: 56px;
    height: calc(100% - 63px);
    padding-left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

.consultation_list_item {
    position: relative;
    padding-left: 70px;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.consultation_list_marker {
    position: absolute;
    left: 0;
    top: calc(50% - 29px);
    height: 42px;
    width: 42px;
    background: #E3B873;
    border: 8px solid #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 31px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.built_image {
    transform: scale(-1, 1);
    filter: grayscale(1);
    opacity: 0.2;
    position: absolute;
    left: -70px;
    max-width: 1005px;
}

.request_form {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 408px;
    height: 454px;
    margin-top: 106px;
    padding: 28px 49px;
    position: relative;
}

.request_form .screen_5_name {
    margin-top: 34px;
}

.request_form .screen_5_phone {
    margin-top: 45px;
}

.request_form .screen_5_email {
    margin-top: 45px;
}

.request_form .screen_5_aggrements {
    margin-top: 12px;
    color: #fff;
}

.request_form .input-text label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.request_form .input-text input {
    width: 100%;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 23px;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.request_form .input-text input::placeholder {
    color: #fff;
}

.request_form h5 {
    margin: 0;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: none;
}

.screen_5_button {
    position: absolute;
    bottom: 27px;
    right: 50px;
    padding: 15px 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
}

.moneybox {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: -110px;
    left: 32px;
}

.moneybox_circle {
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    width: 72px;
    height: 72px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moneybox_offer {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    padding-left: 26px;
}

.screen_6 {
    min-height: 1038px;
    position: relative;
}

.screen_6::after {
    content: '';
    background-image: url(../image/icon/city_background.svg);
    opacity: 0.07;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: bottom;
    background-repeat-y: no-repeat;
}

.screen_6_container {
    text-align: center;
    margin-top: 147px;
}

.screen_6_container h3 {
    color: #181818;;
}

.clients_icon {
    margin: 0 auto;
    width: 40px;
    margin-top: -9px;
    position: relative;
}

.clients_icon:before {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: -37px;
    top: 14px;
}

.clients_icon:after {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: 45px;
    top: 14px;
}

.screen_6_description {
    font-size: 18px;
    line-height: 29px;
    color: #363636;
    position: relative;
    margin-top: 16px;
}

.customers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.customers_wrapper {
     background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    height: 428px;
    padding: 20px; 
    max-width: 376px;
    position: relative;

}


.customers_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customers_icon_wrapper {
    height: 76px;
    width: 76px;  
    border-radius: 40px;
    overflow: hidden;
}

.customer_photo {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.customers_name h4 {
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    text-transform: capitalize;
    margin-left: 22px;
    text-align: left;
}


.customer_review {
    text-align: left;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    max-width: 324px;
    height: 216px;
}

.parameters {
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    height: 54px;
    position: absolute;
    left: 0;
    bottom: -27px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.area_parameters {
    background-color: #E3B873;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
}

.area_parameters span {
    padding-left: 14px;
    }

.timing_parameters {
    background-color: #E3B873;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 2px; 
}

.timing_parameters span {
    padding-left: 14px;
}

.screen_7 {
    position: relative;
    background-color: rgb(23 23 23 / 90%);
}

.screen_7::before {
    content: '';
    background-image: url(../image/background_screen_7.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: grayscale(1);
    background-size: cover;
    background-position: center;
}

.screen_7_container {
    padding-top: 223px;
    padding-bottom: 66px;
    position: relative;
}

.screen_7_container h3 {
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 50px;
}

.questions_form {
    position: absolute;
    background: #181818;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 883px;
    max-width: 100%;
    height: 445px;
    right: 0;
    left: 0;
    margin: auto;
    top: -223px;
    display: flex;
    flex-direction: column;
}

.questions_form .screen_7_name {

}

.questions_form .screen_7_phone {
    margin-left: 58px;
}

.questions_form .screen_7_question {
    margin-top: 45px;
    width: 515px;
    margin: 0 auto;
    margin-top: 41px;
    flex: 0;
}

.questions_form .check_box_label {
    color: #fff;
    text-align: center;
    margin-top: 38px;
}

.questions_form .input-text label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions_form .input-text input {
    width: 100%;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 23px;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.questions_form .input-text input::placeholder {
    color: #fff;
}

.questions_form h5 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.name_phone_input_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 515px;
    margin: 0 auto;
    margin-top: 10px;
}

.screen_7_button {
    bottom: 27px;
    right: 50px;
    padding: 15px 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

.screen_7_contacts_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.screen_7_contacts {
    background-color: #E3B873;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 10px;
}

.screen_7_map {
    background-image: url(../image/map.png);
    width: 925px;
    height: 465px;
    max-width: 100%;
    background-position: center;
    margin: 0 auto;
    margin-top: 44px;
}

/* 
@media all and (max-width: 1300px) {
    .header-navigation, header .button {
        display: none;            
    }

    .built_image {
        display: none;
    }
    .consultation_list {
        padding-left: 35px;
        padding-right: 35px;
    }

     .repair_types {
        flex-direction: column;
    }

    .screen_6_container {
        display: none;
    }
    
    footer {
        display: none;
    }

} 
*/

/* MOBILE */
@media all and (max-width: 768px) {

    h2 {
        font-size: 22px;
        line-height: 138.6%;
    }

    p {
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
    }

    .hide-on-desktop {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }

    /*header*/
    .header-navigation, header .button {
        display: none;            
    }

    header .logo {
        margin-left: 18px;
    }

    header .phone {
        margin-right: 18px;
    }

    /*screen_1*/
    .screen_1 {
        height: auto;
        padding-bottom: 61px;
    }
    
    .screen_1_title {
        font-size: 23px;
        line-height: 1.3em;
        padding-top: 85px;
        padding-left: 18px;
    }

    .screen_1_description {
        font-size: 14px;
        line-height: 135.84%;
        padding-left: 18px;
        text-align: left;
    }

    .screen_1_buttons {
        display: flex;
        flex-direction: column;
    }

    .screen_1_buttons .button {
        height: 51px;
        margin-left: 18px !important;
        margin-right: 18px;
        margin-top: 32px;
    }
    
    .screen_1_buttons .second_button {
        margin-top: 26px;
    }

    /* Screen 2 */
    .conditions_mobile {
        display: flex;
        margin: 0 auto;
        width: calc(100% - 36px);
    }

    .conditions_desktop {
        display: none;
    }

    .screen_2_slider ul {
        display: none;
    }

    .screen_2_container {
        flex-direction: column;
    }

    .screen_2_controls {
        display: none;
    }

    .text_accent {
        text-align: center;
    }

    .screen_2_details h2 {
        margin-top: 36px;
    }

    .screen_2_slider {
        text-align: center;
        margin-top: 72px;
    }

    .condition_items .text_accent {
        text-align: unset;
    }

    .screen_2_details_description {
        font-size: 11px;
        line-height: 17px;
    }

    .condition_items_description {
        font-size: 11px;
        line-height: 15px;
    }

    /* Screen 3 */
    .video-player {
        margin: 0 auto;
    }

    .screen_3 {
        background: #131313;
    }

    .screen_3_container {
        padding-left: 18px;
        padding-right: 18px;
    }

    .screen_3_description {
        font-size: 11px;
        line-height: 19px;
        color: #FFFFFF;
    }

  

    .screen-3-form-row {
        flex-direction: column;
        align-items: stretch;
        position: relative;
        padding-bottom: 60px;
    }

    .screen-3-form-row .button {
        height: 50px;
        bottom: -25px;
        width: 100%;
    }

 
    .screen-3-form-row .input-text input {
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    .screen-3-form-row .input-text input::placeholder {
        color: #FFFFFF;
      }

    .input-text label {
        color: rgba(255, 255, 255, 0.5);
    }

    .screen-3-form-row .check_box_label {
        color: #FFFFFF;
    }

    .screen-3-form-row button {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -21px;
    }

    /* Screen 4 */
    .repair_types {
        flex-direction: column;
        align-items: center;
        padding-bottom: unset;
    }

    .repair_types_item {
        position: relative;
        flex: auto;
        width: 100%;
        max-width: 100%;
        height: 365px;
        margin-bottom: 180px;
    }

    .screen_4_container .list {
        position: absolute;
        top: 223px;
        left: -1px;
        margin: 0;
        padding-bottom: 17px;
    }

    .screen_4_container .list .button {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .screen_4_container {
        padding-left: 18px;
        padding-right: 18px;
    }

    /* Screen 5 */
    .screen_5_container {
        display: none;
    }

    /* Screen 6 */
    .screen_6 {
        display: none;
    }

    /* Screen 7 */
    .screen_7_container {
        padding-top: unset;
        padding-left: 18px;
        padding-right: 18px;
        background: #181818;
        display: flex;
        flex-direction: column;
    }

    .screen_7_container .questions_form {
        top: 0px;
        height: auto;
        padding-bottom: 18px;
    }

    .name_phone_input_wrapper {
        flex-direction: column;
        margin: 0 auto;
    }

    .questions_form {
        position: relative;
    }

    .questions_form .screen_7_phone {
        margin-top: 41px;
        margin-left: 0;
    }

    .screen_7::before {
        display: none;
    }
 
    .screen_7_button {
        height: 50px;
        width: 100%;
    }

    .screen_7_container h3 {
        order: 3;
    }

    .screen_7_contacts_wrapper {
        order: 4;
    }

    footer {
        display: none;
    }


}

