@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: 'Yeseva One';
}

@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family:  'Nunito Sans';
}


@font-face {
    src: url('../fonts/NunitoSans-Bold.ttf');
    font-family:  'Nunito Sans';
    font-weight: bold;
}


@font-face {
    src: url('../fonts/NunitoSans-Italic.ttf');
    font-family:  'Nunito Sans';
    font-style: italic;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0; 
    border: 0;
    text-transform: uppercase;
    padding: 13px 33px;
    font-style: italic;
    color: #ffffff;
}

.second_button {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

h1, h2, h3, h5, h6 {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.text_accent {
    color: #E3B873;
}

header {
    background-color: #131313;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

.logo {
    color: #E3B873;
  
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation-item {
    margin-right: 47px;
}

.header-navigation-link {
    text-decoration: none;
    color: #ffffff
}

.phone {
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.screen_1 {
    position: relative;
    background-image: url(../image/screen1.png);
    height: 700px;
    background-size: cover;
    background-position: center;
}

.screen_1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.screen_1 .container {
    position: relative;
    z-index: 2;

}

.screen_1_title {
    padding: 187px 0 0 42px;
    margin: 0;
    font-size: 40px;
    line-height: 53px;
    color: #fff;
}

.screen_1_description {
color: #fff;
font-size: 22px;
line-height: 36px;
padding-left: 42px;
}

.screen_1_buttons .button  {
    font-size: 11px;
    line-height: 15px;
}
.screen_1_buttons .button:first-child {
    margin-left:42px;
    padding: 16px 42px;
}

.screen_1_buttons .button:last-child {
    margin-left: 12px;
    padding: 16px 28px;
}